/* ======= bg-setting ======= */
.bg-transparent {
    background-color: transparent;
}
.bg-linear-bottom {
    background: linear-gradient(to bottom, #7000FF, #11002D);
}
.bg-linear-start {
    background: linear-gradient(to right, #7000FF, #11002D);
}
.bg-linear-end {
    background: linear-gradient(to left, #7000FF, #11002D);
}
.bg-radial-focus {
    background:radial-gradient(circle farthest-side at center, #28085C, #000000);
}
.bg-radial-diffuse {
    background:radial-gradient(circle farthest-side at center, #000000, #28085C);
}
@mixin bg-cover($url, $height) {
    background: url($url);
    height: $height;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* ======= svg-setting ======= */
@mixin svg($url, $width, $height) {
    display: inline-block;
    width: $width;
    height: $height;
    background: url($url);
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

/* ======= index.html ======= */
/* ------- landingpage ------- */
.bg-landingpage {
    @include bg-cover('../images/home_background.png', 1778px);
    @media (min-width: 768px) {
        height: 2960px;
    }
    @media (min-width: 1200px) {
        height: 880px;
    }
}
.bg-product1 {
    max-width: 100%;
    @include bg-cover('../images/diane_square1.png', 351px);
    @media (min-width: 768px) {
        box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
        @include bg-cover('../images/diane.png', 676px);
    }
    @media (min-width: 1200px) {
        height: 100%;
    }
}
.bg-product2 {
    max-width: 100%;
    @include bg-cover('../images/felix_square1.png', 351px);
    @media (min-width: 768px) {
        box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
        @include bg-cover('../images/felix.png', 580px)
    }
}
.bg-product3 {
    max-width: 100%;
    @include bg-cover('../images/Karina_square1.png', 351px);
    @media (min-width: 768px) {
        box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
        @include bg-cover('../images/Karina.png', 580px);
    }
}
.bg-product4 {
    max-width: 100%;
    @include bg-cover('../images/vito_square1.png', 351px);
    @media (min-width: 768px) {
        box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
        @include bg-cover('../images/vito.png', 676px);
    }
    @media (min-width: 1200px) {
        height: 100%;
    }
}

/* ------- carousel ------- */
.bg-carousel {
    height: 791px;
    background: url('../images/carousel_background.png'), radial-gradient(circle farthest-side at center, #28085C, #000000);
    background-position: left, center;
    background-repeat: no-repeat, no-repeat;
    @media (min-width: 768px) {
        height: 1061px;
    }
    @media (min-width: 1200px) {
        height: 1089px;
    }
}

/* ------- latest news ------- */
.bg-circle-latestNews {
    width: 132px;
    @include bg-cover('../images/circle_hollow.png', 132px)
}
.border-xl-end {
    @media (min-width: 1200px) {
        border-right: 1px solid $white;
    }
}

/* ------- contact ------- */
.rounded-line {
    width: 124px;
    height: 8px;
    border-radius: 12px;
    @media (min-width: 1200px) {
        height: 12px;
    }
}

/* ------- product types ------- */
@mixin bg-productType($url){
    height: 406px;
    background-color: $black !important;
    // background-blend-mode 針對背景圖片的色彩混合
    background-blend-mode: darken;
    background-image: url($url);
    background-size: cover;
    background-position: center;
    transition: all 1s;
    &:hover {
        background-color: rgb(0, 0, 0, 0.5) !important;
    }
    @media (min-width: 768px) {
        height: 876px;
    }
}
.bg-productType1 {
    @include bg-productType('../images/diane_vertical.png');
}
.bg-productType2 {
    @include bg-productType('../images/felix_vertical.png');
}
.bg-productType3 {
    @include bg-productType('../images/karina_vertical.png');
}
.bg-productType4 {
    @include bg-productType('../images/vito_vertical.png');
}

/* ======= product.html ======= */
.bg-product-title {
    height: 925px;
    @media (max-width: 768px) {
        height: 305px;
    }
}
.circle-bottom {
    bottom: 60px !important;
    @media (max-width: 768px) {
        bottom: 24px !important;
    }
}
.bg-circle-product {
    width: 196px;
    @include bg-cover('../images/circle_hollow.png', 196px);
    @media (max-width: 768px) {
        width: 109px;
        height: 109px;
    }
}
.ar-11 {
    aspect-ratio: 1/1 !important;
}

/* ======= faq.html ======= */
.dotted-line {
    @media (max-width: 1200px) {
        border-bottom: 2px dotted $white;
    }
}