/* ======= bg-setting ======= */
.bg-linear {
    background: linear-gradient(to bottom, #7000FF, #11002D);
}
.bg-radial {
    background:radial-gradient(circle farthest-side at center, #28085C, #000000);
}
@mixin bg-cover($url, $height) {
    background: url($url);
    height: $height;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ======= index.html ======= */
.bg-landingpage {
    background-position: center;
    @include bg-cover('../images/home_background.png', 1778px);
    @media (min-width: 768px) {
        height: 880px;
    }
}
.bg-carousel {
    max-width: 948px;
    @include bg-cover('../images/carousel_background.png', 1089px)
}
.bg-product1 {
    max-width: 100%;
    background-position: center;
    @include bg-cover('../images/diane_square1.png', 351px);
    @media (min-width: 768px) {
        box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
        @include bg-cover('../images/diane.png', 676px);
    }
}
.bg-product2 {
    max-width: 100%;
    background-position: center;
    @include bg-cover('../images/felix_square1.png', 351px);
    @media (min-width: 768px) {
        box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
        @include bg-cover('../images/felix.png', 580px)
    }
}
.bg-product3 {
    max-width: 100%;
    background-position: center;
    @include bg-cover('../images/Karina_square1.png', 351px);
    @media (min-width: 768px) {
        box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
        @include bg-cover('../images/Karina.png', 580px);
    }
}
.bg-product4 {
    max-width: 100%;
    background-position: center;
    @include bg-cover('../images/vito_square1.png', 351px);
    @media (min-width: 768px) {
        box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
        @include bg-cover('../images/vito.png', 676px);
    }
}