.bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-linear {
    background: linear-gradient(to bottom, #7000FF, #11002D);
}
.bg-radial {
    background:radial-gradient(circle farthest-side at center, #28085C, #000000);
}
@mixin bg-cover($url, $height) {
    background: url($url);
    height: $height;
    @media (min-width: 768px) {
        height: 100%;
    }
}