/* ======= nav ======= */
.btn-white:hover {
    color: $white !important;
    background-color: $black;
    span {
        color: $white !important;
    }
}
.navbar-toggler:hover,
.nav-link:hover {
    color: shift-color($link-color, $link-shade-percentage);
}

/* ======= landingpage-bottom ======= */
.hover-product {
    transition: 2s ease-in;
    &:hover {
        .bg {
            transform: scale(0.8);
            box-shadow: 0px 0px 16px 8px rgba(31, 15, 57, 0.8);
            transition: all 1s;
        }
    }
}

/* ======= carousel ======= */
.carousel-item a:hover {
    .hover-carousel {
        opacity: 0.8;
        transition: all 0.5s;
    }
}

/* ======= faq ======= */
.btn-faq li:hover {
    border-bottom: 1px solid $dark;
}

/* ======= footer ======= */
footer a:hover {
    color: $primary !important;
}