/* ======= font-family ======= */
.noto-sans-tc {
    font-family: 'Noto Sans TC' !important;
}
.saira-extra-condensed {
    font-family: 'Saira Extra Condensed' !important;
}
.shrikhand {
    font-family: 'Shrikhand' !important;
}

/* ======= font-size ======= */
@media (min-width: 1200px) {
    .fs-xl-2 {
        font-size: 2rem !important;  // 32px
    }
}

/* ======= letter-spacing ======= */
// 0.1的倍數
.ls-1 {
    letter-spacing: 0.1rem;
}
.ls-3 {
    letter-spacing: 0.3rem;
}
.ls-15 {
    letter-spacing: 1.5rem;
}

@media (min-width: 1920px) {
    .ls-xxxl-10 {
        letter-spacing: 1rem;
    }
    .ls-xxxl-20 {
        letter-spacing: 2rem;
    }
    .ls-xxxl-45 {
        letter-spacing: 4.5rem;
    }
}