/* ======= font-family ======= */
.noto-sans-tc {
    font-family: 'Noto Sans TC' !important;
}
.saira-extra-condensed {
    font-family: 'Saira Extra Condensed' !important;
}
.shrikhand {
    font-family: 'Shrikhand' !important;
}

/* ======= font-size ======= */
@media (min-width: 768px) {
    .fs-md-2 {
        font-size: 2rem !important;  // 32px
    }
}

/* ======= letter-spacing ======= */

.ls-xs {
    letter-spacing: 0.1rem;
}
.ls-sm {
    letter-spacing: 0.3rem;
}
.ls-base {
    letter-spacing: 1.5rem;
}
.ls-md {
    @media (min-width: 768px) {
        letter-spacing: 4.5rem;
    }
}