/* ======= font-family ======= */
.noto-sans-tc {
    font-family: 'Noto Sans TC' !important;
}
.saira-extra-condensed {
    font-family: 'Saira Extra Condensed' !important;
}
.shrikhand {
    font-family: 'Shrikhand' !important;
}

/* ======= font-size ======= */
@media (min-width: 1200px) {
    .fs-xl-2 {
        font-size: 2rem !important;  // 32px
    }
    .display-xl-2 {
        font-size: 6rem !important;
    }
    .display-xl-4 {
        font-size: 3rem !important;
    }
}

/* ======= letter-spacing ======= */
// 0.1的倍數
.ls-1 {
    letter-spacing: 0.1rem;
}
.ls-3 {
    letter-spacing: 0.3rem;
}
.ls-7 {
    letter-spacing: 0.7rem;
}
.ls-12 {
    letter-spacing: 1.2rem;
}
.ls-15 {
    letter-spacing: 1.5rem;
}
.ls-17 {
    letter-spacing: 1.7rem;
}

@media (min-width: 1920px) {
    .ls-xxxl-10 {
        letter-spacing: 1rem;
    }
    .ls-xxxl-15 {
        letter-spacing: 1.5rem;
    }
    .ls-xxxl-20 {
        letter-spacing: 2rem;
    }
    .ls-xxxl-50 {
        letter-spacing: 5rem;
    }
}

/* ======= me-n* ======= */
// 去除 letter-spacing 行末的多餘空白
.me-n17 {
    margin-right: -1.7rem;
}
@media (min-width: 1920px) {
    .me-xxxl-n20 {
        margin-right: -5rem;
    }
}