<!------- 表尾 footer ------->
<footer class="container d-flex flex-column gap-2 py-10 flex-md-row justify-content-md-between align-items-md-center py-md-13">
    <div class="d-flex flex-column">
        <a class="shrikhand fs-2 text-black" href="index.html">ALPHABOX+</a>
        <span class="fw-bold text-black d-none d-md-inline-block">Copyright © 2023 Hexschool.</span>
    </div>
    <span class="material-symbols-outlined text-black" style="font-size: 80px;">
        emergency
    </span>
    <ul class="list-unstyled mb-0 d-flex flex-column gap-2 flex-md-row gap-md-6">
        <li><a class="fw-bold text-black" href="#">關於我們</a></li>
        <li><a class="fw-bold text-black" href="#">產品資訊</a></li>
        <li><a class="fw-bold text-black" href="#">常見問題</a></li>
        <li><a class="fw-bold text-black" href="#">隱私政策</a></li>
        <l1><span class="fw-bold text-black d-md-none">Copyright © 2023 Hexschool.</span></l1>
    </ul>
</footer>