<!------- 表頭 header ------->
<nav class="container bg-primary">
    <div class="row py-4">
        <div class="col-4">
            <h1><a class="shrikhand fs-2 fst-italic" href="index.html">ALPHABOX+</a></h1>
        </div>
        <div class="col-8">
            <ul class="list-unstyled">
                <li><a class="fw-medium" href="product.html">產品</a></li>
                <li><a class="fw-medium" href="#">關於我們</a></li>
                <li><a class="fw-medium" href="#">最新消息</a></li>
                <li><a class="fw-medium" href="#">FAQ</a></li>
                <li><a class="fw-medium" href="#">聯絡我們</a></li>
            </ul>
            <ul class="list-unstyled">
                <li><a class="fw-medium" href="#">註冊</a></li>
                <li><a class="fw-medium" href="#">登入</a></li>
                <li><a class="btn btn-white text-black fw-medium" href="#">
                    <span class="material-symbols-outlined text-black" style="width: 24px; height: 24px;">
                    point_scan
                    </span>
                    訂閱</a></li>
            </ul>
        </div>
    </div>
</nav>