.accordion-button {
    border-bottom: 2px dotted $white;
    // Day 49 - FAQ 手風琴範例有加這個，但我看不懂？
    &::after {
        content: none;
    }
    // 未點擊時
    .addIcon {
        display: block;
    }
    .removeIcon {
        display: none;
    }
    // 當點擊時
    // 在 button.accordion-button裡，自動略過有.collapsed的button，其他都要套用 {}
    &:not(.collapsed) {
        .addIcon {
            display: none;
        }
        .removeIcon {
            display: block;
        }
    }
}