/* ======= latest news ======= */
.arrow-end-latestNews-lg {
    @include svg('../images/line_end_arrow_notch_latestnews-lg.svg', 196px, 24px);
    &:hover {
        opacity: 0.5;
    }
}
.arrow-end-latestNews-sm {
    @include svg('../images/line_end_arrow_notch_latestnews-sm.svg', 90px, 24px);
    &:hover {
        opacity: 0.5;
    }
}
.arrow-end-productType {
    @include svg('../images/line_end_arrow_notch_producttyle.svg', 155px, 24px);
    &:hover {
        opacity: 0.5;
    }
}

/* ======= product.html ======= */
.arrow-end-product {
    @include svg('../images/line_end_arrow_notch_prodcut.svg', 314px, 24px);
    &:hover {
        opacity: 0.5;
    }
    @media (max-width: 768px) {
        @include svg('../images/line_end_arrow_notch_latestnews-sm.svg', 90px, 24px);
    }
}


