/* ======= index.html ======= */
.carousel-imgBox1 {
    @include bg-cover('../images/carousel.png', 351px);
    @media (min-width: 768px) {
        height: 560px;
    }
}
.carousel-imgBox2 {
    @include bg-cover('../images/box.png', 351px);
    @media (min-width: 768px) {
        height: 560px;
    }
}
.carousel-imgBox3 {
    @include bg-cover('../images/screen.png', 351px);
    @media (min-width: 768px) {
        height: 560px;
    }
}
/* ------- carousel-caption ------- */
.carousel-caption {
    @media (min-width: 768px) {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

/* ------- carousel-control ------- */
.arrow-start-carousel {
    @include svg('../images/line_start_arrow_notch_carousel.svg', 180px, 48px);
    &:hover {
        opacity: 1;
    }
}
.arrow-end-carousel {
    @include svg('../images/line_end_arrow_notch_carousel.svg', 180px, 48px);
    &:hover {
        opacity: 1;
    }
}
.carousel-control-next.active {
    opacity: 1;
}
@media (max-width: 1919px) {
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

/* ======= product.html ======= */
.carousel-product1-1 {
    max-width: 960px;
    @include bg-cover('../images/diane_square1.png', 925px);
}
.carousel-product1-2 {
    max-width: 960px;
    @include bg-cover('../images/diane_square2.png', 925px);
}
