/* ======= carousel-imgBox ======= */
.carousel-imgBox1 {
    max-width: 100%;
    @include bg-cover('../images/carousel.png', 351px);
    @media (min-width: 768px) {
        height: 560px;
    }
}
.carousel-imgBox2 {
    max-width: 100%;
    @include bg-cover('../images/box.png', 351px);
    @media (min-width: 768px) {
        height: 560px;
    }
}
.carousel-imgBox3 {
    max-width: 100%;
    @include bg-cover('../images/screen.png', 351px);
    @media (min-width: 768px) {
        height: 560px;
    }
}
/* ======= carousel-caption ======= */
.carousel-caption {
    @media (min-width: 768px) {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}


/* ======= carousel-control ======= */
@mixin svg($url) {
    display: inline-block;
    width: 180px;
    height: 48px;
    background: url($url);
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
.arrow-start {
    @include svg('../images/line_start_arrow_notch.svg');
    &:hover {
        opacity: 1;
    }
}
.arrow-end {
    @include svg('../images/line_end_arrow_notch.svg');
    &:hover {
        opacity: 1;
    }
}
.carousel-control-next.active {
    opacity: 1;
}
@media (max-width: 1919px) {
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}


