/* ======= 移除 bs 預設樣式 ======= */
.form-control:focus {
    border-color: $primary; // 預設灰色
    box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8); // 預設白色
 }
.form-control {
    border-radius: 0;
}

/* ======= 修改 form-floating 預設樣式 ======= */
.form-floating > 
.form-control:-webkit-autofill ~ label, .form-floating > 
.form-control:not(:placeholder-shown) ~ label {
    transform: scale(0.75);
}