.swiper {
    overflow: initial;
    width: 100vw;
}
.recommend-swiper {
    height: calc(351px * 4 + 24px * 3);
    @media (min-width: 440px) {
        overflow: initial;
        height: auto;
    }
}
.swiper-slide {
    height: 351px;
    @media (min-width: 376px) {
        max-width: 416px;
        height: 416px;
    }
}
.swiper-scrollbar {
    background: rgba(255, 255, 255, 0.2) !important;
}
.swiper-scrollbar-drag {
    background: #ffffff !important;
}
.d-xxxl-block {
    @media (min-width: 1920px) {
        display: block !important;
    }
}