<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ | FAQ常見問題</title>
  </head>
  <body>

    <%- include('./layout/header'); -%>

    <!------- faq ------->
    <div class="bg-light">
        <div class="container">
            <h2 class="display-4 fw-bolder text-dark ls-15 pt-15 pb-10 py-xl-16" style="border-bottom: 2px dotted white;">FAQ</h2>
            <div class="row row-cols-1 pt-xl-10 pb-xl-30">
                <div class="col-4">
                    <ul class="list-unstyled">
                        <li class="mb-4"><a class="text-dark fw-medium" href="#">ALPHABOX+ 使用問題</a></li>
                        <li class="mb-4"><a class="text-dark fw-medium" href="#">訂購與運送</a></li>
                        <li><a class="text-dark fw-medium" href="#">產品保養與維修</a></li>
                    </ul>
                </div>
                <div class="col-8">
                    <ul class="accordion list-unstyled" id="accordionFAQ">
                        <!-- 手風琴項目 -->
                        <li class="accordion-item">
                          <!-- 按鈕 -->
                          <button class="accordion-button collapsed d-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <!-- 按鈕裡的標題 -->
                            <h2 class="accordion-header row fs-6 text-dark fw-medium align-items-center">
                              <span class="col-9">
                                ALPHABOX+ 的使用方式是什麼？
                              </span>
                              <span class="col-3">
                                <span class="material-icons addIcon display-5">
                                  add
                                </span>
                                <span class="material-icons removeIcon display-5">
                                  remove
                                </span>
                              </span>
                            </h2>
                            <!-- 按鈕裡的內容 -->
                            <div id="collapseOne" class="accordion-collapse collapse row" data-bs-parent="#accordionFAQ">
                              <div class="col-9">
                                <p class="accordion-body text-dark mt-2 mb-0">
                                  首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                                </p>
                              </div>
                            </div>
                          </button>
                        </li>
                        <li class="accordion-item">
                          <button class="accordion-button collapsed d-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                            <h2 class="accordion-header row fs-6 align-items-center">
                              <span class="col-9">
                                ALPHABOX+ 需要什麼樣的環境來使用？
                              </span>
                              <span class="col-3">
                                <span class="material-icons addIcon fs-40">
                                  add
                                </span>
                                <span class="material-icons removeIcon fs-40">
                                  remove
                                </span>
                              </span>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse row" data-bs-parent="#accordionFAQ">
                              <div class="col-9">
                                <p class="accordion-body mt-2 mb-0">
                                  首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                                </p>
                              </div>
                            </div>
                          </button>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
