<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ | 專屬您的3D立體投影陪伴機器人</title>
  </head>
  <body>

    <%- include('./layout/header'); -%>

    <!------- landingpage ------->
    <div class="bg-landingpage">
      <!------- landingpage-top ------->
      <div class="container-fluid px-3 pt-7 px-xl-20 pt-xl-14 d-flex flex-column align-items-center">
        <div class="gx-xl-8 flex-column align-items-center w-100">
          <div class="d-flex flex-column align-items-center gap-xl-6 flex-xl-row justify-content-xl-between py-0 mb-8 mb-xl-14">
            <div class="align-self-xl-end border-bottom border-1 border-white d-none d-xl-block order-xl-1 w-100" style="max-width: 416px; max-height: 196px;">
              <h6 class="fw-bold lh-sm py-2">最新消息！新版本 v15.4 釋出，搶先體驗！</h6>
            </div>
            <img class="img-fluid order-2 order-xl-2" style="width: 196px; height: 196px;" src="../assets/images/circle.png" alt="circle-logo">
            <div class="align-self-start border-top border-1 border-white d-flex flex-column justify-content-xl-between order-xl-3" style="max-width: 416px; max-height: 196px;">
              <h6 class="fw-bold py-2 py-xl-1 order-1 order-xl-4 mb-8 ls-1 w-100">ALPHABOX+ STUDIO</h6>
              <h6 class="fw-medium lh-sm d-none d-xl-block order-xl-5 ls-1" style="color: #AD93CF;">Copyright © 2023 Hexschool.</h6>
            </div>
          </div>
        </div>
      </div>
      <!------- landingpage-bottom ------->
      <div class="container-fluid px-xl-20">
        <div class="row mx-xl-n4">
          <!------- product1 ------->
          <div class="text-center d-xl-none">
            <h2 class="shrikhand fs-5 ls-17 ">ALPHABOX+</h2>
            <h6 class="fw-bold ls-3 mb-6">擁抱未來科技，專屬您的3D立體投影陪伴機器人</h6>
          </div>
          <div class="col col-xl-3 px-xl-4 mb-4 mb-xl-0 position-relative" style="z-index: 1;">
            <a class="hover-product" href="#">
              <h2 class="shrikhand position-absolute start-50 translate-middle-x" style="z-index: 3; top: 16px;">Diane</h2>
              <div class="bg bg-product1"></div>
            </a>
          </div>
          <!------- product2 & 3 ------->
          <div class="col-xl-6 px-xl-4 d-flex flex-column justify-content-xl-between align-items-xl-center">
            <div class="text-center d-none d-xl-block">
              <h2 class="shrikhand fs-xl-2 ls-xxxl-50 me-xxxl-n20">ALPHABOX+</h2>
              <h6 class="fw-bold ls-3 mb-8 ls-xxxl-10">擁抱未來科技，專屬您的3D立體投影陪伴機器人</h6>
            </div>
            <div class="container-fluid gx-0">
              <div class="row gx-xl-8 flex-column flex-xl-row">
                <div class="col mb-4 mb-xl-0 position-relative" style="z-index: 1;">
                  <a class="hover-product" href="#">
                    <h2 class="shrikhand position-absolute start-50 translate-middle-x" style="z-index: 3; top: 16px;">Felix</h2>
                    <div class="bg bg-product2"></div>
                  </a>
                </div>
                <div class="col mb-4 mb-xl-0 position-relative" style="z-index: 1;">
                  <a class="hover-product" href="#">
                    <h2 class="shrikhand position-absolute start-50 translate-middle-x" style="z-index: 3; top: 16px;">Karina</h2>
                    <div class="bg bg-product3"></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!------- product4 ------->
          <div class="col col-xl-3 px-xl-4 position-relative" style="z-index: 1;">
            <a class="hover-product" href="#">
              <h2 class="shrikhand position-absolute start-50 translate-middle-x" style="z-index: 3; top: 16px;">Vito</h2>
              <div class="bg bg-product4"></div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!------- carousel ------->
    <div class="bg-carousel">
      <!------- carousel-title ------->
      <div class="container-fluid pt-32 pt-xl-38 pb-5 pb-xl-4 px-xl-20 border-bottom border-1 border-white">
        <div class="bg-linear-start w-100 mb-4 mb-xl-2" style="height: 40px;"></div>
        <h2 class="fs-4 display-xl-4 fw-bold ls-15 ls-xxxl-20 mb-2 mb-xl-3">什麼是</h2>
        <h2 class="fs-4 display-xl-4 fw-bold ls-15 ls-xxxl-20">ALPHABOX+</h2>
      </div>
      <!------- carousel-inner ------->
      <div class="container-fluid px-xl-20 pt-4 pt-xl-8">
        <div id="carouselExampleCaptions" class="container carousel slide px-0 mb-8 mb-xl-8" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="#">
                <div class="hover-carousel carousel-imgBox1">
                </div>
                <!-- Q. 無法移除carousel-caption下方的 bottom: 1.25rem -->
                <div class="carousel-caption text-start p-4 bottom-0 start-0 text-xl-end px-xl-10 py-xl-0">
                  <h3 class="shrikhand display-3 display-xl-2">01</h3>
                  <h4 class="display-6 fw-bold ls-7 ls-xxxl-15 mb-xl-4">立體投影技術</h4>
                  <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href="#">
                <div class="hover-carousel carousel-imgBox2">
                </div>
                <div class="carousel-caption text-start p-4 bottom-0 start-0 text-xl-end px-xl-10 py-xl-0">
                  <h3 class="shrikhand display-3 display-xl-2">02</h3>
                  <h4 class="display-6 fw-bold ls-7 ls-xxxl-15 mb-xl-4">立體投影技術</h4>
                  <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href="#">
                <div class="hover-carousel carousel-imgBox3">
                </div>
                <div class="carousel-caption text-start p-4 bottom-0 start-0 text-xl-end px-xl-10 py-xl-0">
                  <h3 class="shrikhand display-3 display-xl-2">03</h3>
                  <h4 class="display-6 fw-bold ls-7 ls-xxxl-15 mb-xl-4">立體投影技術</h4>
                  <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                </div>
              </a>
            </div>
          </div>
          <!------- 上下頁控制按鈕 ------->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="left: -208px;">
            <span class="carousel-control-prev-icon arrow-start-carousel" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next active" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="right: -208px;">
            <span class="carousel-control-next-icon arrow-end-carousel" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="bg-linear-end w-100 mb-15 mb-xl-2" style="height: 40px;"></div>
      </div>
    </div>
   
    <!------- latest news ------->
    <div class="bg-radial-focus">
      <div class="container pt-15 pb-20 pt-xl-40 pb-xl-10">
        <h2 class="fs-1 display-xl-4 fw-bold ls-15 text-center text-xl-start ls-xxxl-20 pb-8 pb-xl-10 border-bottom border-1 border-white">最新消息</h2>
        <div class="px-4 py-8 py-xl-10 border-bottom border-1 border-white">
          <div class="d-flex align-items-center gap-4 mb-2 mb-xl-2">
            <span class="material-symbols-outlined fs-4">
              emergency
            </span>
            <time class="fw-bold ls-7" datetime="2023-06-30">2023.06.30</time>
          </div>
          <h5 class="fw-bold ls-12 mb-3 mb-xl-3">產品升級公告</h5>
          <div class="d-flex flex-column flex-xl-row justify-content-xl-between align-items-xl-center">
            <p class="fw-bold mb-3 mb-xl-0">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<br>歡迎您了解本次升級帶來的更為卓越的性能！</p>
            <a href="#">
              <span class="arrow-end-latestNews-lg"></span>
            </a>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-xl-2 gx-0 mb-10 mb-xl-19">
          <div class="col">
            <div class="px-4 py-8 py-xl-10 border-bottom border-xl-end border-1 border-white">
              <div class="d-flex align-items-center gap-4 mb-2 mb-xl-2">
                <span class="material-symbols-outlined fs-4">
                  emergency
                </span>
                <time class="fw-bold ls-7" datetime="2023-06-30">2023.06.30</time>
              </div>
              <h5 class="fw-bold ls-12 mb-3 mb-xl-3">限時優惠活動</h5>
              <div class="d-flex flex-column">
                <p class="fw-bold mb-3">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
                <a href="#">
                  <span class="arrow-end-latestNews-sm"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="px-4 py-8 py-xl-10 border-bottom border-1 border-white">
              <div class="d-flex align-items-center gap-4 mb-2 mb-xl-2">
                <span class="material-symbols-outlined fs-4">
                  emergency
                </span>
                <time class="fw-bold ls-7" datetime="2023-06-30">2023.04.18</time>
              </div>
              <h5 class="fw-bold ls-12 mb-3 mb-xl-3">新功能上線</h5>
              <div class="d-flex flex-column">
                <p class="fw-bold mb-3">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
                <a href="#">
                  <span class="arrow-end-latestNews-sm"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-xl-24">
          <a href="#">
            <div class="bg-circle position-relative">
              <span class="fw-bold text-nowrap position-absolute top-50 start-50 translate-middle">查看更多</span>
            </div>
          </a>
        </div>
        <div class="d-none d-xl-block">
          <p class="fw-bold text-end">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
        </div>
      </div>
    </div>

    <!------- recommend ------->
    <div class="bg-radial-diffuse overflow-hidden">
      <div class="container pt-15 pb-20 pt-xl-40 pb-xl-10">
        <div class="d-flex flex-column flex-xl-row align-items-xl-center mb-xl-4">
          <h2 class="fs-1 display-xl-4 fw-bold ls-15 ls-xxxl-20 mb-4 me-xl-46">使用分享</h2>
          <p class="fw-bold d-none d-xl-inline-block">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
        </div>
        <div class="mb-6">
          <div class="mb-6 mb-xl-10">
            <span class="fw-bold me-1">01</span>
            <span class="material-symbols-outlined align-middle me-1">
              horizontal_rule
              </span>
            <span class="fw-bold">02</span>
          </div>
          <p class="fw-bold d-xl-none">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
        </div>
        <span class="material-symbols-outlined mb-4 mb-xl-6" style="font-size: 80px;">
          emergency
        </span>
        <!------- swiper ------->
        <!-- Q. scrollbar 在 slide 結束時無法停止 -->
        <div class="swiper mb-xl-12">
          <ul class="swiper-wrapper list-unstyled">
            <li class="col-4 swiper-slide bg-secondary p-6 p-xl-10">
              <div class="d-flex flex-column h-100">
                <!------- 這個 div 要佔滿剩餘空間 ------->
                <div class="flex-grow-1">
                  <div class="d-inline-block mb-xl-8">
                    <span class="fw-bold">Zona
                      <span class="material-icons display-10">
                        circle
                      </span>
                      Taipei
                    </span>
                  </div>
                  <p class="fw-bold">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                </div>
                <div>
                  <span class="material-icons align-middle me-xl-4">
                    circle
                  </span>
                  <span class="material-icons align-middle me-xl-4">
                    circle
                  </span>
                  <span class="fw-bold align-middle">ALPHABOX+ Dianne</span>
                </div>
              </div>
            </li>
            <li class="col-4 p-6 swiper-slide bg-white p-xl-10">
              <div class="d-flex flex-column h-100">
                <!------- 這個 div 要佔滿剩餘空間 ------->
                <div class="flex-grow-1">
                  <div class="d-inline-block text-black mb-xl-8">
                    <span class="fw-bold">Lin
                      <span class="material-icons display-10">
                        circle
                      </span>
                      Chiayi
                    </span>
                  </div>
                  <p class="fw-bold text-black">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                </div>
                <div class="text-black">
                  <span class="material-icons align-middle me-xl-4">
                    circle
                  </span>
                  <span class="material-icons align-middle me-xl-4">
                    circle
                  </span>
                  <span class="fw-bold align-middle">ALPHABOX+ Dianne</span>
                </div>
              </div>
            </li>
            <li class="col-4 p-6 swiper-slide bg-secondary p-xl-10">
              <div class="d-flex flex-column h-100">
                <!------- 這個 div 要佔滿剩餘空間 ------->
                <div class="flex-grow-1">
                  <div class="d-inline-block mb-xl-8">
                    <span class="fw-bold">云
                      <span class="material-icons display-10">
                        circle
                      </span>
                      Taipei
                    </span>
                  </div>
                  <p class="fw-bold">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
                </div>
                <div>
                  <span class="material-icons align-middle me-xl-4">
                    circle
                  </span>
                  <span class="material-icons align-middle me-xl-4">
                    circle
                  </span>
                  <span class="fw-bold align-middle">ALPHABOX+ Dianne</span>
                </div>
              </div>
            </li>
            <li class="col-4 p-6 swiper-slide bg-white p-xl-10">
              <div class="d-flex flex-column h-100">
                <!------- 這個 div 要佔滿剩餘空間 ------->
                <div class="flex-grow-1">
                  <div class="d-inline-block text-black mb-xl-8">
                    <span class="fw-bold">Zichi
                      <span class="material-icons display-10">
                        circle
                      </span>
                      Kaohsiung
                    </span>
                  </div>
                  <p class="fw-bold text-black">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
                </div>
                <div class="text-black">
                  <span class="material-icons align-middle me-xl-4">
                    circle
                  </span>
                  <span class="material-icons align-middle me-xl-4">
                    circle
                  </span>
                  <span class="fw-bold align-middle">ALPHABOX+ Dianne</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!------- scrollbar ------->
        <div class="row align-items-center mb-xl-31">
          <div class="col-8 px-0 d-none d-xxxl-block">
            <div class="swiper-scrollbar position-static"></div>
          </div>
          <div class="col-4 px-0 d-none d-xxxl-block">
            <span class="fw-bold">SCROLL</span>
          </div>
        </div>
        <p class="fw-bold d-none d-xxxl-block">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
      </div>
    </div>

    <!------- contact ------->
    <div class="bg-dark">
      <div class="container">
        <div class="row row-cols-1 pt-15 pb-20 row-cols-xl-2 py-xl-36">
          <div class="col col-xl-5 mb-6 mb-xl-0">
            <h2 class="fs-1 display-xl-4 fw-bold ls-15 ls-xxxl-20 mb-4 mb-xl-5 me-xl-46">聯絡我們</h2>
            <div class="d-flex align-items-center mb-9 mb-xl-14">
              <span class="material-icons display-10 display-xl-9 me-2">
                circle
              </span>
              <div class="rounded-line bg-white"></div>
            </div>
            <p class="fw-bold mb-1">讓科技成為您的最佳夥伴</p>
            <p class="fw-bold">立即體驗神奇功能並享限時優惠！</p>
          </div>
          <div class="col col-xl-7">
            <span class="material-icons mb-4" style="font-size: 80px;">
              emergency
            </span>
            <form>
              <input class="form-control mb-4" type="email" name="email" placeholder="EMAIL" aria-label="email" required>
              <textarea class="form-control mb-4" style="min-height: 120px;" name="comments" id="comments" placeholder="COMMENTS"></textarea>
              <button class="form-control bg-primary ms-auto border-0 rounded-1" style="max-width: 416px;" type="submit">
                <span class="material-symbols-outlined me-1 align-middle">
                  point_scan
                </span>
                <span class="fw-medium align-middle">送出</span>
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>




   


    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
