<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALPHABOX+ | 專屬您的3D立體投影陪伴機器人</title>
  </head>
  <body>

    <%- include('./layout/header'); -%>

    <div class="container bg-linear">
      <h1 class="index-title">我是首頁</h1>
      <form>
        <label for="email"></label> email
        <input type="email" name="email" id="">
      </form>

    </div>
    <div class="container bg-radial" style="height: 500px;">
      <h2>我是標題</h2>
    </div>

    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
